# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/assets/historyPageImages/0ac18c1a-0211-45be-a5a7-0ba878302f3e.jpeg
public/assets/historyPageImages/0c2de272-c17e-4308-ad92-08b565d2e26c.jpeg
public/assets/historyPageImages/0cad1022-336f-4045-add0-8cee9fda2d99.jpeg
public/assets/historyPageImages/0da9bc1a-9088-4d8e-8192-b027a45c00a3.jpeg
public/assets/historyPageImages/0e67a32e-8405-4f3c-ae6c-2426e2120d7a.jpeg
public/assets/historyPageImages/01c8c244-38f7-48dc-b934-544f52242fa2.jpeg
public/assets/historyPageImages/2fee960a-7c9c-4b00-a9a8-9d35325e80f2.jpeg
public/assets/historyPageImages/3ad3ecb2-a197-4dd5-8f4c-86de8fae3f46.jpeg
public/assets/historyPageImages/3baeeaf0-2a50-42aa-81a1-31ce5b642f4b.jpeg
public/assets/historyPageImages/3bc4ebc7-0221-4fa4-9849-0450c194e1b3.jpeg
public/assets/historyPageImages/4f57c8f6-9b11-4c96-978c-4188dda99662.jpeg
public/assets/historyPageImages/5a716c71-0659-44d8-be70-0cdae5cd1630.jpeg
public/assets/historyPageImages/5afb76a5-018d-4288-8388-5a09e009b436.jpeg
public/assets/historyPageImages/5b91599e-623f-43cd-a4fe-cfda31c484ab.jpeg
public/assets/historyPageImages/5c137221-c353-4022-83de-74590e3a2a5e.jpeg
public/assets/historyPageImages/6a142bca-79fe-4e84-9d90-29525104ebe4.jpeg
public/assets/historyPageImages/7f8e2006-e074-4373-8c25-80c62371108a.jpeg
public/assets/historyPageImages/8d51b4a0-110c-446f-9130-1879e9ce792c.jpeg
public/assets/historyPageImages/9b5da0b9-89ee-4958-b07f-bf86aae72d42.jpeg
public/assets/historyPageImages/14a7a43f-18d4-4842-b6c1-74d9d5aedd27.jpeg
public/assets/historyPageImages/16fdb71e-99c7-4956-ab24-4b22140744ff.jpeg
public/assets/historyPageImages/46d60401-36fe-49e1-bc26-053456a27237.jpeg
public/assets/historyPageImages/64ed0154-3acf-46d1-93d3-065199f6ed82.jpeg
public/assets/historyPageImages/072c1246-e1f2-4a09-8128-d19cd74eb565.jpeg
public/assets/historyPageImages/73c1c20d-9b10-4f4e-acb2-4c1365c52ac7.jpeg
public/assets/historyPageImages/74d86882-a6cd-4855-a7c3-6561cef3771a.jpeg
public/assets/historyPageImages/82b12c25-e226-4a67-bae6-208414765ec7.jpeg
public/assets/historyPageImages/088a060b-1c3e-4c60-a087-12b0e775b73d.jpeg
public/assets/historyPageImages/89f80138-fa69-4273-b51b-2bbcf9a27b28.jpeg
public/assets/historyPageImages/93ee0907-5963-49ff-a907-7ad76d6308c3.jpeg
public/assets/historyPageImages/93fd2fcf-3320-47b3-be38-6dacb563f156.jpeg
public/assets/historyPageImages/095d7ccb-f507-4615-8ae4-5db33a7bd0ae.jpeg
public/assets/historyPageImages/97fb439f-7cfa-49a3-81eb-796eb95b950a.jpeg
public/assets/historyPageImages/301b1985-2931-4bf1-9955-6c9369cccec7.jpeg
public/assets/historyPageImages/302e472c-12d0-4a45-babf-84067477f8d4.jpeg
public/assets/historyPageImages/3332fcc6-590f-446b-bab9-f93b911b5951.jpeg
public/assets/historyPageImages/3774c85b-22ff-443e-b683-09fe7d5dcf5c.jpeg
public/assets/historyPageImages/4085e7ab-0b49-4bf2-bc2e-88ada4b4d628.jpeg
public/assets/historyPageImages/4475d468-d1d9-426c-a7d7-cf1e5e5efc52.jpeg
public/assets/historyPageImages/7005cb76-914f-4541-9374-eefeb4052d7e.jpeg
public/assets/historyPageImages/36673ce0-abb7-4a65-a7ac-8200a41af649.jpeg
public/assets/historyPageImages/39902e1d-8ab3-440d-8c9d-ed2964f2a35e.jpeg
public/assets/historyPageImages/55721a66-22b2-43bf-8eb6-315e5be369c6.jpeg
public/assets/historyPageImages/592676b0-eb39-4b99-bf15-81bb670fbe9d.jpeg
public/assets/historyPageImages/608863b2-392a-486d-bbc3-ef83b56e94d7.jpeg
public/assets/historyPageImages/783746e0-1478-4d32-b153-38a89ffc34ea.jpeg
public/assets/historyPageImages/2255029d-da66-400c-a1a8-68fe80397a9d.jpeg
public/assets/historyPageImages/2477327b-91bf-48bc-968d-7eec7318ef3c.jpeg
public/assets/historyPageImages/4641178b-8199-48eb-a9f6-cca312b2d890.jpeg
public/assets/historyPageImages/1672697405_pro-dachnikov-com-p-potemkinskaya-lestnitsa-v-odesse-skolko-st-4.jpg
public/assets/historyPageImages/1672697441_pro-dachnikov-com-p-potemkinskaya-lestnitsa-v-odesse-skolko-st-23.jpg
public/assets/historyPageImages/a9d42ce2-1674-4ccf-9a7a-ce9b40828165.jpeg
public/assets/historyPageImages/a36b7d1f-f2c1-481c-aa4e-092a15970496.jpeg
public/assets/historyPageImages/a173df52-1d1c-4145-84ec-c2594cd5e531.jpeg
public/assets/historyPageImages/aaecfa12-2b22-4b16-b84d-ac617fa0a861.jpeg
public/assets/historyPageImages/ab747d0b-7ba6-4f14-a651-420c6250e07f.jpeg
public/assets/historyPageImages/b3cc9e3e-bedb-4f60-98f6-75d1c61b9457.jpeg
public/assets/historyPageImages/b6e734d7-ddd2-421d-9fb4-02d865950f9f.jpeg
public/assets/historyPageImages/b4697b0a-41d7-47e5-a4c6-74f7cee0e76a.jpeg
public/assets/historyPageImages/b9128437-c030-4535-bdf8-a47361ac474a.jpeg
public/assets/historyPageImages/ba3fcf97-87ea-43e0-b41b-a654fb875c98.jpeg
public/assets/historyPageImages/c684a93d-4f1e-4992-9861-35227a52b326.jpeg
public/assets/historyPageImages/cf937df7-b996-4fd1-a8e5-2446de7e1b7b.jpeg
public/assets/historyPageImages/d1b2e285-09da-4a1a-8b12-3a7965efa9f7.jpeg
public/assets/historyPageImages/d2c683c1-76ce-44c7-9a2d-1d0e5a946b5a.jpeg
public/assets/historyPageImages/d6a141f8-43c1-4e1a-af81-19a5f635472a.jpeg
public/assets/historyPageImages/d2646277-0a23-4b43-bda9-ddd5dfaa5bc9.jpeg
public/assets/historyPageImages/d4569294-52e6-424f-a792-10a56b80c0ba.jpeg
public/assets/historyPageImages/db6d1217-4e20-4064-a282-3b78f1e2efac.jpeg
public/assets/historyPageImages/dc359f97-ea22-4ed3-84c7-242ca890f28b.jpeg
public/assets/historyPageImages/dff5d961-f4da-4cbf-9d31-a660a2227fd6.jpeg
public/assets/historyPageImages/eb543f5d-204f-4e53-b5f9-dc400b063468.jpeg
public/assets/historyPageImages/ec243f04-d2ba-467f-a8b9-b0c1e31cd402.jpeg
public/assets/historyPageImages/efa5d37a-ddb7-4829-b89d-87cc8759d444.jpeg
public/assets/historyPageImages/f0c9a0c3-7900-40d0-875f-005aabb67f11.jpeg
public/assets/historyPageImages/f5bd77a3-a93e-4af0-b2f1-1cccae816670.jpeg
public/assets/historyPageImages/f6f304c1-bfcd-4bcb-a61a-6bc6cd01b230.jpeg
public/assets/historyPageImages/f9dc7803-408e-418b-bbad-c77945c02e76.jpeg
public/assets/historyPageImages/f209eff6-6c59-42b4-bba3-ee6a7dda63bd.jpeg
public/assets/historyPageImages/f412e15a-193c-4a63-a0c9-dce34af530d9.jpeg
public/assets/historyPageImages/f8493e1f-aefc-4e00-8e2c-35e1b8a8f219.jpeg
public/assets/historyPageImages/fb69fd5d-6c77-4c18-9deb-7d64479ddd3f.jpeg
public/assets/historyPageImages/lighthouse.jpg
public/assets/historyPageImages/odessa-2581026_1920.jpg
public/assets/historyPageImages/operaImage.jpg
public/assets/historyPageImages/pavelChurch.jpeg
public/assets/historyPageImages/photo_5413583922312366079_y.jpg
public/assets/historyPageImages/photo_5426844693968308676_x.jpg
public/assets/historyPageImages/photo_5436339732788399489_y.jpg
public/assets/historyPageImages/picturepicture15282_22973.jpg
public/assets/historyPageImages/sailor-wife.jpeg
public/assets/historyPageImages/sailorWife.jpg
public/assets/historyPageImages/victory-park-1.jpeg
public/assets/historyPageImages/victory-park-2.jpeg
public/assets/historyPageImages/victoryWings.png
public/assets/cultureComponent/4-1.jpg
public/assets/cultureComponent/92_main-v1583937428.jpg
public/assets/cultureComponent/2024-03-13 09.11.50.jpg
public/assets/cultureComponent/2024-03-13 09.11.56.jpg
public/assets/cultureComponent/2024-03-13 09.12.04.jpg
public/assets/cultureComponent/caption.jpg
public/assets/cultureComponent/dumskaSquare.jpg
public/assets/cultureComponent/jewishCuisine.jpg
public/assets/cultureComponent/literatureMuseum.jpg
public/assets/cultureComponent/synagogue.jpg
public/assets/historyPageImages/PushkinMonument.jpeg
public/assets/historyPageImages/seaViewWithDuke.jpeg
public/assets/historyPageImages/spasoPreobrazhensky.jpeg
public/assets/photogalleryComponent/2fee960a-7c9c-4b00-a9a8-9d35325e80f2.jpeg
public/assets/photogalleryComponent/16thFountainStation.jpg
public/assets/photogalleryComponent/16thFountainStation1.jpg
public/assets/photogalleryComponent/16thFountainStation2.jpg
public/assets/photogalleryComponent/46d60401-36fe-49e1-bc26-053456a27237.jpeg
public/assets/photogalleryComponent/411battery.jpg
public/assets/photogalleryComponent/2024-03-09 13.36.35.jpg
public/assets/photogalleryComponent/2024-03-09 13.36.47.jpg
public/assets/photogalleryComponent/a173df52-1d1c-4145-84ec-c2594cd5e531.jpeg
public/assets/photogalleryComponent/arcadiaOldPhoto.jpg
public/assets/photogalleryComponent/arcadiaOldPhoto1.jpg
public/assets/photogalleryComponent/cat.jpg
public/assets/photogalleryComponent/ceiling.jpg
public/assets/photogalleryComponent/church.jpg
public/assets/photogalleryComponent/church1.jpg
public/assets/photogalleryComponent/cityPark1.jpg
public/assets/photogalleryComponent/cityPark2.jpg
public/assets/photogalleryComponent/collonade2.jpg
public/assets/photogalleryComponent/defenseMonument.jpg
public/assets/photogalleryComponent/derebasovskaStreet4.jpg
public/assets/photogalleryComponent/derebasovskaStreet5.jpg
public/assets/photogalleryComponent/doorbells.jpg
public/assets/photogalleryComponent/doors.jpg
public/assets/photogalleryComponent/dukeMonument.jpg
public/assets/photogalleryComponent/dukeMonument1.jpg
public/assets/photogalleryComponent/dumskaSquare.jpg
public/assets/photogalleryComponent/dumskaSquareillustration.jpg
public/assets/photogalleryComponent/entrance.jpg
public/assets/photogalleryComponent/entrance1.jpg
public/assets/photogalleryComponent/f6f304c1-bfcd-4bcb-a61a-6bc6cd01b230.jpeg
public/assets/photogalleryComponent/fence.jpg
public/assets/photogalleryComponent/fields.jpg
public/assets/photogalleryComponent/fountain1.jpg
public/assets/photogalleryComponent/goldenAlcove.jpg
public/assets/photogalleryComponent/goldenDuke.jpg
public/assets/photogalleryComponent/goldenPort.jpg
public/assets/photogalleryComponent/goldenSeasideBoulevard.jpg
public/assets/photogalleryComponent/greenHotel.jpg
public/assets/photogalleryComponent/greenHotel1.jpg
public/assets/photogalleryComponent/lanzheron3.jpg
public/assets/photogalleryComponent/lion.jpg
public/assets/photogalleryComponent/lion4.jpg
public/assets/photogalleryComponent/lion5.jpg
public/assets/photogalleryComponent/lionWall.jpg
public/assets/photogalleryComponent/marineStationOldPhoto.jpg
public/assets/photogalleryComponent/navigation.jpg
public/assets/photogalleryComponent/nightSeaView.jpg
public/assets/photogalleryComponent/nightSeaView1.jpg
public/assets/photogalleryComponent/nightSeaView2.jpg
public/assets/photogalleryComponent/nightSeaView3.jpg
public/assets/photogalleryComponent/nightSeaView4.jpg
public/assets/photogalleryComponent/nightView.jpg
public/assets/photogalleryComponent/nightViewOnOpera.jpg
public/assets/photogalleryComponent/odessaChurch.jpg
public/assets/photogalleryComponent/odessaChurch1.jpg
public/assets/photogalleryComponent/odessaHouse.jpg
public/assets/photogalleryComponent/odessaHouse1.jpg
public/assets/photogalleryComponent/odessaHouse2.jpg
public/assets/photogalleryComponent/odessaHouse3.jpg
public/assets/photogalleryComponent/odessaSculpture.jpg
public/assets/photogalleryComponent/odessaStreet.jpg
public/assets/photogalleryComponent/odessaStreet1.jpg
public/assets/photogalleryComponent/odessaStreet2.jpg
public/assets/photogalleryComponent/odessaStreet3.jpg
public/assets/photogalleryComponent/odessaStreet4.jpg
public/assets/photogalleryComponent/odessaStreet5.jpg
public/assets/photogalleryComponent/odessaStreet6.jpg
public/assets/photogalleryComponent/odessaStreet8.jpg
public/assets/photogalleryComponent/odessaStreet12.jpg
public/assets/photogalleryComponent/odessaYard.jpg
public/assets/photogalleryComponent/odessaYard1.jpg
public/assets/photogalleryComponent/odessaYard2.jpg
public/assets/photogalleryComponent/opera1.jpg
public/assets/photogalleryComponent/opera2.jpg
public/assets/photogalleryComponent/opera3.jpg
public/assets/photogalleryComponent/opera5.jpg
public/assets/photogalleryComponent/opera6.jpg
public/assets/photogalleryComponent/opera7.jpg
public/assets/photogalleryComponent/opera8.jpg
public/assets/photogalleryComponent/opera9.jpg
public/assets/photogalleryComponent/opera10.jpg
public/assets/photogalleryComponent/operaOldPhoto.jpg
public/assets/photogalleryComponent/operaSculpture.jpg
public/assets/photogalleryComponent/operaSculpture1.jpg
public/assets/photogalleryComponent/operaSculpture2.jpg
public/assets/photogalleryComponent/operaSculpture3.jpg
public/assets/photogalleryComponent/operaSculpture4.jpg
public/assets/photogalleryComponent/panteleimonChurch.jpg
public/assets/photogalleryComponent/passage3.jpg
public/assets/photogalleryComponent/passage4.jpg
public/assets/photogalleryComponent/passageRoof.jpg
public/assets/photogalleryComponent/PaulChurchOldPhoto.jpg
public/assets/photogalleryComponent/potemkinStairsOldPhoto.jpg
public/assets/photogalleryComponent/PushkinMonument.jpeg
public/assets/photogalleryComponent/restautant.jpg
public/assets/photogalleryComponent/sailorWife3.jpg
public/assets/photogalleryComponent/sculpture.jpg
public/assets/photogalleryComponent/sculpture3.jpg
public/assets/photogalleryComponent/sculpture4.jpg
public/assets/photogalleryComponent/sculptureNearMuseumOldPhoto.jpg
public/assets/photogalleryComponent/sculptureOldPhoto.jpg
public/assets/photogalleryComponent/sculptureOldPhoto2.jpg
public/assets/photogalleryComponent/sculptureOldPhoto3.jpg
public/assets/photogalleryComponent/seagulls.jpg
public/assets/photogalleryComponent/seaPort.jpg
public/assets/photogalleryComponent/seasideBoulevard.jpg
public/assets/photogalleryComponent/seaView.jpg
public/assets/photogalleryComponent/seaView2.jpg
public/assets/photogalleryComponent/seaView3.jpg
public/assets/photogalleryComponent/seaView4.jpg
public/assets/photogalleryComponent/seaView5.jpg
public/assets/photogalleryComponent/seaView6.jpg
public/assets/photogalleryComponent/seaView7.jpg
public/assets/photogalleryComponent/seaView8.jpg
public/assets/photogalleryComponent/seaView9.jpg
public/assets/photogalleryComponent/seaView10.jpg
public/assets/photogalleryComponent/seaView11.jpg
public/assets/photogalleryComponent/seaView12.jpg
public/assets/photogalleryComponent/seaView13.jpg
public/assets/photogalleryComponent/seaViewWithDuke.jpeg
public/assets/photogalleryComponent/shahskyPalace.jpg
public/assets/photogalleryComponent/shahskyPalace1.jpg
public/assets/photogalleryComponent/spasoPreobrazhensky.jpeg
public/assets/photogalleryComponent/sretenskayaChurchOldPhoto.jpg
public/assets/photogalleryComponent/stairs.jpg
public/assets/photogalleryComponent/theaterGarden3.jpg
public/assets/photogalleryComponent/theaterGardenFountain.jpg
public/assets/photogalleryComponent/victoryPark.jpg
public/assets/photogalleryComponent/victoryPark1.jpg
public/assets/photogalleryComponent/viewFromHigh.jpg
public/assets/photogalleryComponent/viewOnPortFromHigh.jpg
public/assets/photogalleryComponent/viewOnSpacoPreobrazhensky.jpg
public/assets/photogalleryComponent/voronstovPalace3.jpg
public/assets/photogalleryComponent/vorontsovLighthouse3.jpg
public/assets/photogalleryComponent/vorontsovPalace2.jpg
public/assets/photogalleryComponent/wallSculpture.jpg
public/assets/historyPageImages/PushkinMonument.jpeg
public/assets/historyPageImages/seaViewWithDuke.jpeg
public/assets/historyPageImages/spasoPreobrazhensky.jpeg
public/assets/historyPageImages/Взрыв_Тигра.jpg
public/assets/historyPageImages/art-museum-inside.jpeg
public/assets/historyPageImages/Austrian_occupation_of_odessa.jpg
public/assets/historyPageImages/cityPark#2.jpeg
public/assets/historyPageImages/cityPark#3.jpeg
public/assets/historyPageImages/cityPark#4.jpeg
public/assets/historyPageImages/cityPark2.jpeg
public/assets/historyPageImages/cityPark3.jpeg
public/assets/historyPageImages/cityPark4.jpeg
public/assets/historyPageImages/colonnade#2.jpeg
public/assets/historyPageImages/colonnade#3.jpeg
public/assets/historyPageImages/colonnade2.jpeg
public/assets/historyPageImages/colonnade3.jpeg
public/assets/historyPageImages/defenseMonument.jpg
public/assets/historyPageImages/derebasovskaStreet#2.jpeg
public/assets/historyPageImages/derebasovskaStreet2.jpeg
public/assets/historyPageImages/dukeMonument#3.jpeg
public/assets/historyPageImages/dukeMonument3.jpeg
public/assets/historyPageImages/dumskaSquare.jpg
public/assets/historyPageImages/dumskaSquare#2.jpeg
public/assets/historyPageImages/dumskaSquare#3.jpeg
public/assets/historyPageImages/dumskaSquare2.jpeg
public/assets/historyPageImages/dumskaSquare3.jpeg
public/assets/historyPageImages/dumskaSquareillustration.jpg
public/assets/historyPageImages/goldenDuke.jpg
public/assets/historyPageImages/lanzheron.jpg
public/assets/historyPageImages/lunapark1.jpeg
public/assets/historyPageImages/Monument_of_Vorontsov_in_Odessa.jpg
public/assets/historyPageImages/passage#2.jpeg
public/assets/historyPageImages/passage2.jpeg
public/assets/historyPageImages/passage4.jpg
public/assets/historyPageImages/potemkinStairs#2.jpg
public/assets/historyPageImages/potemkinStairs2.jpg
public/assets/historyPageImages/pushkin-monument#2.jpeg
public/assets/historyPageImages/pushkin-monument#3.jpeg
public/assets/historyPageImages/pushkin-monument1.jpeg
public/assets/historyPageImages/pushkin-monument2.jpeg
public/assets/historyPageImages/pushkin-monument3.jpeg
public/assets/historyPageImages/seaside-boulevard#2.jpeg
public/assets/historyPageImages/seaside-boulevard2.jpeg
public/assets/historyPageImages/Shahskiy-dvoretz.jpg
public/assets/historyPageImages/shahskyDvoretz.jpeg
public/assets/historyPageImages/shahskyPalace1.jpg
public/assets/historyPageImages/shevchenkoPark2.jpeg
public/assets/historyPageImages/shevchenkoPark3.jpeg
public/assets/historyPageImages/Sofievskaya-5a23.jpg
public/assets/historyPageImages/spasoPreobrazhensky-2.jpeg
public/assets/historyPageImages/spasoPreobrazhensky-3.jpeg
public/assets/historyPageImages/spasoPreobrazhensky#2.jpeg
public/assets/historyPageImages/spasoPreobrazhensky#3.jpeg
public/assets/historyPageImages/victory-park-3.jpeg
public/assets/historyPageImages/vorontsov-monument-4.jpeg
public/assets/historyPageImages/vorontsovMonument#2.jpeg
public/assets/historyPageImages/vorontsovMonument2.jpeg
public/assets/photogalleryComponent/Austrian_occupation_of_odessa.jpg
