.redirect-button {
  cursor: pointer;
  display: inline-block;
  background-color: #38b434;
  padding: 0 20px 0 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  width: 240px;
  height: 40px;
  border: none;
  text-align: center;
  margin: 15px auto 25px auto;

}

.redirect-button:hover {
  background-color: #3ec73a;
  color: #fff;
}
